<h1><%= link_to "Muncher", root_path %></h1>
<%= render partial: "header" %>
<h2>List of Recipes</h2>

<div class="card-columns">
<% if @recipes %>
      <% @recipes.each do |recipe| %>
          <div class="card text-black"
          <%= link_to image_tag(recipe.image, alt: "#{recipe.label}"), recipe_path(recipe.id) %>
          <%= link_to recipe.label, recipe_path(recipe.id) %>

          </div>
      <% end %>
  <% end %>
</div>

<%= will_paginate @recipes %>
