<h1 class="muncher-header"><%= link_to "Munchies", root_path %></h1>
<%= render partial: "search" %>
<h2>Recipe</h2>

<%= @recipe.label %>
<%=image_tag @recipe.image %>
<%= @recipe.ingredients %>
<%= @recipe.health_labels %>
<%= @recipe.url %>
