<!DOCTYPE html>
<html>
  <head>
    <title>ApiMuncher</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://developer.edamam.com/attribution/badge.js"></script>
  </head>

  <body>
    <main>
      <%= yield %>
    </main>

    <footer>
      <div id="edamam-badge" data-color="transparent"></div>
    </footer>
  </body>
</html>
